@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
    margin : 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background: linear-gradient(to right,#12CBC4,#0652DD);
    display: flex;
    align-items: center;
}
.calc{
    width: 700px;
    margin-top: 150px;
    padding: 60px;
    background: #ffffff;
    box-shadow: 0 0 20px #000000;
}
.calc h1{
    text-transform: uppercase;
    font-size: 48px;
    line-height: 40px;
    background: -webkit-linear-gradient(#12CBC4,#0652DD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form{
    margin-top: 30px;
}
.calc p{
    font-size: 40px;
    margin-top: 30px;
    background: -webkit-linear-gradient(#bf1dcb, #dd283c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
    box-shadow: 0 20px 30px -5px rgba(0,0,0,.5)!important;
    background-image:  linear-gradient(to left, #12CBC4, #0652DD);
    padding: 8px 15px;
    text-decoration: none;
    border: none;
}
.btn:hover{
    background: linear-gradient(to right,#12CBC4, #0652DD);
}